@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');




.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    margin-top: -80px;
    width: 100%;
    position: sticky;
    top: 0;
    background: transparent;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 999;
    
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    max-width: 1600px;
}

.navbar-logo {
    font-size: 2rem;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    font-family: "Chakra Petch", sans-serif;
}

.navbar-container .navbar-menu {
    display: flex;
    text-align: center;
    gap: 1.5rem;
    list-style: none;
}

.navbar-container .navbar-menu li a {
    text-decoration: none;
    color: #000000;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 3px 20px;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: all 0.7s ease;
    white-space: nowrap;
    font-family: "Chakra Petch", sans-serif;
}

.navbar-container .navbar-menu li a:hover,
.navbar-container .navbar-menu li a.active {
    color: #162530;
    background: rgba(188, 212, 229, 0.8);
    border: 2px solid #fff;
}

.navbar-toggle {
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #000000;
    transition: all 0.3s ease-in-out;
}

/* Responsive Styles */
@media (max-width: 880px) {
    .navbar {
        backdrop-filter: none;
    }

    .navbar-container .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem !important;
        position: absolute;
        height: 100vh;
        width: 250px;
        top: 0;
        right: 0;
        padding: 5rem 1.5rem;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
    }

    .navbar-container .navbar-menu.active {
        display: flex;
    }

    .navbar-toggle {
        display: block;
        z-index: 999;
    }

    .navbar-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .navbar-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media (max-width: 480px) {
    .navbar-container {
        padding: 0 1rem;
    }

    .navbar-logo {
        font-size: 1.7rem;
    }

    .navbar-container .navbar-menu li a {
        font-size: 1.2rem;
        padding: 3px 15px;
    }
}




* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
    font-family: "Chakra Petch", sans-serif;
}
section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 100px;
}
@media (max-width: 1000px) {
	section {
		padding: 100px 50px;
	}
}
@media (max-width: 600px) {
	section {
		padding: 125px 30px;
	}
}
header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 35px 100px 0;
}
header a {
	text-transform: capitalize;
	font-weight: 900;
}
header h2 {
	text-transform: uppercase;
}
header .nav {
	display: flex;
}
header .nav li {
	margin: 0 15px;
}
header .nav li:first-child {
	margin-left: 0;
}
header .nav li:last-child {
	margin-right: 0;
}
@media (max-width: 1000px) {
	header {
		padding: 20px 50px;
	}
}
@media (max-width: 700px) {
	header {
		flex-direction: column;
	}
	header h2 {
		margin-bottom: 15px;
	}
	header .nav li {
		margin: 0 7px;
	}
}
.box {
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
    font-family: "Chakra Petch", sans-serif;
}
.box video {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}
.box h1 {
	margin-bottom: 15px;
	font-size: 65px;
	text-transform: uppercase;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}
.box h3 {
	margin-bottom: 40px;
	font-size: 25px;
    color: #fff;
    
}
.box a.boxBtn {
	padding: 15px 35px;
	background: transparent;
	border-radius: 50px;
	color: #fff;
	text-transform: uppercase;
	border: 4px solid #fff;
	transition: all .5s;
    font-family: "Chakra Petch", sans-serif;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}
.box a.boxBtn:hover {
	background: #fff;
	color: #000;
}
@media (max-width: 800px) {
	.box {
		min-height: 600px;
	}
	.box h1 {
		font-size: 32px;
	}
	.box h3 {
		font-size: 20px;
	}
	.box a.boxBtn {
		padding: 15px 40px;
	}
}




h2{
    font-family: "Chakra Petch", sans-serif;
    font-size: 40px;
    color: #000;
}
h3{
    font-family: "Chakra Petch", sans-serif;
    color: #000;
}

li{
    font-family: "Chakra Petch", sans-serif;
    color: #000;
}
.contenedor{
    background: #1e1e2f;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    max-width: auto;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.contenedor:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.6);
}
.contenedor h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  background: linear-gradient(90deg, #d89735, #af2553, #1134aa);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Chakra Petch", sans-serif;
}
.contenedor h2 {
  font-size: 1rem;
  margin-bottom: 1rem;
  background: linear-gradient(90deg, #ffffff, #1fcece,#8f25af );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Chakra Petch", sans-serif;
}
.contenedor h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  background: linear-gradient(90deg, #d89735, #af2553, #1134aa);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Chakra Petch", sans-serif;
}
.contenedor p {
  font-size: 1rem;
  line-height: 1.6;
  color: #e0e0e0;
  margin-bottom: 2rem;
  font-family: "Chakra Petch", sans-serif;
}
.contenedor li {
  font-size: 1rem;
  line-height: 1.6;
  color: #e0e0e0;
  margin-bottom: 2rem;
  font-family: "Chakra Petch", sans-serif;
}
.banner{
    background: #1e1e2f;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    max-width: auto;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 4em;
}
.banner h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  background: linear-gradient(90deg, #d89735, #af2553, #1134aa);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Chakra Petch", sans-serif;
}
.banner h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  background: linear-gradient(90deg, #d89735, #af2553, #1134aa);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Chakra Petch", sans-serif;
}
.banner p {
  font-size: 1rem;
  line-height: 1.6;
  color: #e0e0e0;
  margin-bottom: 2rem;
  font-family: "Chakra Petch", sans-serif;
}

.mosaic {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 40px auto;
    max-width: 800px;
}

.mosaic img {
    flex: 1 1 30%;
    max-width: 32%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    transition: transform 0.2s;
}

.mosaic img:hover {
    transform: scale(1.05);
}
iframe{
    width: 200vh;
    height: 85vh;
}
/* Responsive Styles ilustracion web */
@media (min-width: 1025px) {
    #personaje {
        width: 150vw;
        max-width: 1000px;
        min-width: 100px;
    }
    #edificios {
        width: 70vw;
        height: 60rem;
    }
}
@media (max-width: 1024px){
    #personaje {
        width: 70vw;
        max-width: 500px;
        min-width: 200px;
    }
    #edificios {
        width: 100vw;
        height: 50rem;
    }
}
@media (max-width: 768px){
    #personaje {
        width: 80vw;
        max-width: 500px;
        min-width: 250px;
    }
    #edificios {
        width: 100vw;
        height: 40rem;
    }
}
body {
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
#fondo{
    position: absolute;
    z-index: 0;
    background-image: url('img/fondo.png');
    top: 100;
    left: 0;
    width: 100%;
    height: 150%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#sol{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    bottom: 0;
    z-index: 1;
}
#edificios{
    position: absolute;
    width: 100%;
    height: 20rem;
    bottom: 0;
    z-index: 2;
}
#personaje{
    position: absolute;
    width: 90vw;
    max-width: 700px;
    min-width: 100px;
    left: 35%;
    bottom: 0;
    
    z-index: 3;
}
#parallax-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.contenido {
    padding: 50px 20px;
    background-color: #FFC440;
    text-align: center;
    min-height: 500px;
}



/* CSS */
.button-74 {
  background:linear-gradient(90deg, #d89735, #af2553, #1134aa);
  border: 2px solid #a7a7a7;
  border-radius: 30px;
  box-shadow: #949494 4px 4px 0 0;
  
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background: linear-gradient(90deg, #d89735, #af2553, #1134aa);

  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}
        .galeria{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 3rem;
            margin: 3rem auto;
            width: 80%;
            background: #1e1e2f;
            border-radius: 40px;
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
        }
        .galeria div{
            flex-basis: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .elem{
            margin: 5px;
        }
        .galeria img{
            height: 100%;
            width: 15vw;
            border-radius: 15px;
            transition: transform 0.3s ease-in-out;
        }
        .galeria img:hover {
            transform: scale(1.7);
}