@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

title {
    font-size: 200px;
    text-align: center;
}

header {
    width: 1920px;
    height: 50px;
    background-color: #93B7BE;
}

section {
    width: auto;
    height: auto;
    background-color: #3d4144;
    padding: 50px;
}

footer {
    width: auto;
    height: 300px;
    background-color: #ee823f;
    text-align: center;
    color: rgb(20, 20, 20);
    font-size: 25px;
   
}

.hermano {
    width: 320px;
    height: 445px;
    background-color: #efefef;
    margin: 10px;
    display: inline-block;

}

a {
    font-size: 40px;
    color: rgb(5, 37, 66);
    text-align: center;
    text-decoration: none;
}

div {
    text-align: center;
    font-size: 50px;
    color: #3fb7ee;
}
div h1{
    font-size: 70px;
    color: #051b25;
}
div h2{
    font-size: 70px;
    color: #efefef;
}
.navbar {
    color: #0C0C12;
    font-family: "Montserrat", serif;
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #3d4144;
}

.menu {
    margin-left: 0px;
    color: #ffffff;
    font-family: "Montserrat", serif;
    text-decoration: none;
    padding-right: 150px;
}
img{
    height: 68px;
    width: 68px;
    float: inline-start;
}
div img{
    display: block;
    float: inline-start;
    height: 500px;
    width: 900px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}
/* universal
*{
    background-color: darkslateblue;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #efefef;
    font-family: "Oswald", serif;
}

.imgcentrada {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 500px;
}

p {
    font-family: "Oswald", serif;
    color: #efefef;
    font-size: 20px;
    margin-left: 40px;
}

body {
    background-color: #efefef;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 11px 13px 21px 0px #0C0C12;   
}

.animuno{
    width: 200px;
    height: 200px;
    background-color: aqua;
    animation: mover 2s infinite;/*Nombre de la animación, tiempo, loop*/
    animation: rotar 2s infinite;
    animation: escalar 2s infinite;
    margin-left: auto;
    margin-right: auto;
}
@keyframes mover{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(100px);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes rotar{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes escalar{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(2);
    }
    100%{
        transform: scale(1);
    }
}

#slideshow {
    text-align: center;
    overflow: hidden;
    height: 1080px;
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
    
  }
.slide-wrapper{
    width: 7680px;
    animation: slide 18s ease infinite;
}
.slide{
    float: left;
    height: 1080px;
    width: 1920px;
}
.slide:nth-child(1){
    background-image: url(img/1.jpg);
    background-size: cover;
}
.slide:nth-child(2){
    background-image: url(img/2.jpg);
    background-size: cover;
    }
.slide:nth-child(3){
    background-image: url(img/3.jpg);
    background-size: cover;
}
.slide:nth-child(4){
    background-image: url(img/4.jpg);
    background-size: cover;
}
@keyframes slide {
    20% {margin-left: 0px;}
    30% {margin-left: -1920px;}
    50% {margin-left: -1920px;}
    60% {margin-left: -3840px;}
    70% {margin-left: -3840px;}
    80% {margin-left: -5760px;}
    90% {margin-left: -5760px;}
}
  